//
//  Development.xcconfig
//  Configuration and Flags
//
//  Created by ios Dev on 06/05/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SLASH = /

ACCENT_COLOR = AccentColor

TOURNAMENTS = http:${SLASH}/199.241.1.88:4049/api/
NEWS = http:${SLASH}/www.77577.live/api/
HIGHLIGHTS = http:${SLASH}/sportsapi4.com/forums/api/
AUTH = http:${SLASH}/199.241.1.88:40052/api/
